h1 {
  font-family: Futura;
  font-size: 44px;
  text-align: center;
}
#button {
  width: 150px;
  height: 40px;
  color: black;
  font-size: 16px;
  margin-left: 45%;
  margin-right: 45%;
  background-color: lightslategrey;
}
#button2 {
  width: 290px;
  border-radius: 5px;
  height: 40px;
  color: black;
  font-size: 16px;
  margin-left: 40%;
  margin-right: 45%;
  background-color: firebrick;
}
#inputred {
  width: 290px;
  color: black;
  font-size: 16px;
  background-color: mintcream;
}
.blue {
  background-color: dodgerblue;
}
#hoverBlue {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
#redText {
  font-size: 24px;
}
#randomText {
  font-size: 24px;
}
#emptyDiv {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  color: steelblue;
}
body {
  background-image: url("http://www.zingerbugimages.com//backgrounds/brown_sand_stone.jpg");
}
